@mixin props-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin props-width-heigh {
    width: 100%;
    height: 100vh;   
}

@mixin flex($display,$back-position, $back-repeat, $back-size, $ancho, $height){
    display: $dis;
    background-position: $back-position;
    background-repeat: $back-repeat;
    background-size: $back-size;
    width: $ancho;
    height: $height;
}