@media (max-width:768px){
    .navBar{
      @include props-flex;
        width: 100%;
        height: 50%;
        padding: 40px;
        flex-direction: column;
        font-size: 18px;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 10%;
    }
    .fotoLogo{
        width: 150px;
        height: 80px;
    }
    .fondo{
        display: flex;
        flex-direction: column;
    }
    .nuestrasTelas{
        display: flex;
        justify-content: center;
        color: $color-texto-primario;
        font-size: 30px;
        margin-top: 40px;
    }
    .contenedor{
        @include props-flex;
        font-size: 25px;
        margin-top: 0;
        margin: 15px;
        width: auto;
        height: 60px;
    }


    .text-focus-in{
        @include props-width-heigh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 40px;
        grid-gap: 20px;
        font-size: 16px;
        font-family: monospace;
        color: rgb(255, 255, 255);
    }
    .text-focus-in {
        -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
     @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      .nosotrosSomos{
        @include props-width-heigh;
    h1{
        @include props-flex;
        background-color: $background-titulos;
        color: #fff;
        font-family: monospace;
        font-size: 50px;
    }
  }
    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    
     @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      p{
        color: $color-texto-parrafo;
        margin: 15px;
        padding: 10px;
        font-family: monospace;
        font-size: 20px;
        font-style: italic;
        font-size-adjust: inherit;
    }
    
    .historia{
        display: flex;
      flex-direction: column;
        width: 100%;
        margin: 15px;
        justify-content:space-around;
    }
  
    h2{ 
        color: $color-texto-primario;
        justify-content: center;
        text-align: center;
        margin: 30px;
        font-size: 25px;
        font-family: monospace;
        margin-bottom: 20px;
    }
    .mapa{
        display:none
    }
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(30, 30, 58);
}
}