@media (max-width:576px){
    .navBar{
      @include props-flex;
        width:576px
        height: 50%;
        padding: 40px;
        flex-direction: column;
        font-size: 18px;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 10%;
    }
    .fotoLogo{
        width: 250px;
        height: 120px;
    }
    .fondo{
      width: 100%;
        display: flex;
        flex-direction: column;
        background-image: none;
        background-color: $background-principal;
    }
    .nuestrasTelas{
        display: flex;
        justify-content: center;
        background-color: brown;
        color:$color-texto-primario;
        font-size: 30px;
    }
    .contenedor{
        font-size: 18px;
    }
  
  
    .text-focus-in{
       @include props-width-heigh; 
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 40px;
        grid-gap: 20px;
        font-size: 16px;
        font-family: monospace;
        color: $color-texto-primario;
    }
    .text-focus-in {
        -webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
     @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
  
      .nosotrosSomos{
        @include props-width-heigh;
    h1{
        @include props-flex;
        background-color: $background-titulos;
        color: #fff;
        font-family: monospace;
        font-size: 50px;
    }
  }
    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    
     @-webkit-keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      p{
        color: white;
        border-color: black;
        padding: 10px;
        font-family: monospace;
        font-size: 14px;
        font-style: italic;
        font-size-adjust: inherit;
    }
    
    .historia{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
    }
  h1{
    width: 100vw,
  }
    h2{ 
        color: $color-texto-primario;
        justify-content: center;
        text-align: center;
        margin: 30px;
        font-size: 25px;
        font-family: monospace;
        margin-bottom: 20px;
    }
    .mapa{
        display:none
    }

    /*tejido punto mobile**/
    .fondotp{
      width: 100vw;
      height: 530vh;
      flex-direction: column;
    }
    /*tejido plano mobile**/
    .fondotepla {
      width: 100vw;
      height: 530vh;
      flex-direction: column;
    }
    .imagenesPlano{
      justify-items: center;
      width: 100vw;
    .cards h4{
      color:brown;
    }
    h5{
      color: rgb(82, 76, 76);
    }
    img{
      width: 280px;
      height: 230px;
      margin-top: 10px;
  }
}
    .imagenesPlano{
      display: grid;
      grid-template-columns: repeat(1, 1fr) ;
      grid-template-rows: repeat(6, 1fr);
}

  
    .formulario{
        width: 450px;
        margin: 15px;
        color: $color-texto-primario;
        background: $background-principal;
        padding: 50px 30px;
        box-sizing: border-box;
        border-radius: 7px;
        font-family: monospace;
    }

    input, textarea {
      margin-bottom: 0px;
  }
    .fondoContact{
      @include props-fondo(flex, center, no-repeat, cover,100%,120vh);
        background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.5)), url(../assets/contactenos.jpg);
    }
  
  footer{
    width: 576px;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
    background-color: $color-footer-mobile;
  }
  }